
<link rel="stylesheet" href="app.css"></link>

<h1>POST</h1>
<hr/>
<%postsVar.forEach(function (post) {%>
    <p><strong>Title: </strong><%=post.title%>
     <strong>Author: <%=post.author%></strong>
   </p>
<%})%>


